db
plugins/AuthMe/*.log
plugins/AuthMe/*.db
plugins/AuthMe/GeoIP.dat
plugins/AdminCmd/*.log
plugins/AdminCmd/*.db
plugins/ChatEx/logs/*.log
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/world.pending
plugins/dynmap/web/tiles

server