data
plugins/AuthMe/*.log
plugins/AuthMe/*.db
plugins/AuthMe/GeoIP.dat
plugins/AdminCmd/*.log
plugins/AdminCmd/*.db
plugins/ChatEx/logs/*.log
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/*.pending
plugins/dynmap/web/tiles
plugins/WorldGuard/
plugins/Multiverse-Core/worlds.yml
plugins/Multiverse-Core/scripts/*.bin
plugins/Multiverse-NetherPortals/config.yml
plugins/Multiverse-Portals/*.log
plugins/Multiverse-Portals/*.log.*
plugins/Multiverse-Portals/*.lck
plugins/Multiverse-Portals/portals.yml
plugins/TreeLogging/*.sqlite3

server