db:
  image: bitnami/mariadb
  environment:
    - MARIADB_USER=authme
    - MARIADB_PASSWORD=authme
    - MARIADB_DATABASE=authme
  volumes:
    - ./db:/bitnami/mariadb/data

server:
  image: itzg/minecraft-server:latest
  environment:
    # System
    - TYPE=SPIGOT
    - VERSION=1.8.8
    - JVM_OPTS=-Xmx1024M -Xms1024M
    - VIEW_DISTANCE=10

    # Sever
    - EULA=TRUE
    - OPS=admin
    - MOTD=My Mincraft Server

    # World
    - HARDCORE=false
    - MODE=survival
    - DIFFICULTY=hard
    - LEVEL_TYPE=DEFAULT
    - MAX_PLAYERS=10
    - MAX_WORLD_SIZE=10000
    - MAX_BUILD_HEIGHT=256
    - PVP=false
    - GENERATE_STRUCTURES=true
    - SPAWN_ANIMALS=true
    - SPAWN_MONSTERS=true
    - SPAWN_NPCS=true

    # To know other Environment variables,
    # please visit https://github.com/itzg/dockerfiles/tree/master/minecraft-server

  links:
    - db:mariadb
  ports:
    - "25565:25565"
    - "8123:8123"
  volumes:
    - ./server:/data
    - ./plugins:/data/plugins
  tty: true
  stdin_open: true

pwd:
  build: ./pwd
  links:
      - db:mariadb
  ports:
    - "8000:80"
  volumes:
    - ./pwd:/var/www/html
  environment:
    - WEBSITE_TITLE=麥塊帳號管理網站 - Minecraft PWD Utility
