authdb:
  extends:
    file: web/pwd/docker-services.yml
    service: authdb
  volumes:
    - ./data/authdb:/bitnami/mariadb

prismdb:
  image: bitnami/mariadb:10.1.13-r0
  volumes:
    - ./data/prismdb:/bitnami/mariadb
  environment:
    - MARIADB_USER=prismdb
    - MARIADB_DATABASE=prismdb
    - MARIADB_PASSWORD=prismdb

web:
  build: ./web
  command: ./wait-for-it.sh -s -t 120 authdb:3306 -- ./setup.sh
  ports:
    - "8000:80"
  volumes:
    - ./web/:/var/www/html
  links:
    - authdb:authdb
    - prismdb:prismdb
  environment:
    - WEBSITE_TITLE=帳號管理網站 - Minecraft PWD Utility
    - DOKU_TITLE=麥塊維基
    - DOKU_MAIL_NOIFY=op@mine.foo.bar
    - DOKU_MAIL_FROM=wiki@mine.foo.bar
    - DOKU_MAIL_PRIFIX=某某麥塊伺服器
    - DOKU_SUPERUSER_ID=fntsrswl
    - DOKU_BASE_URL=https://mine.foo.bar/wiki
    # - DOKU_PROXY_USERNAME=
    # - DOKU_PROXY_PASSWORD=


server:
  extends:
    file: docker-service.yml
    service: server
  volumes:
    - ./web/wait-for-it.sh:/wait:ro
  command: /wait -s -t 120 authdb:3306 -- /start
  links:
    - authdb:authdb
    - prismdb:prismdb